body {

    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    color: #fff;
}

section {
    padding: 2rem;
    text-align: center;
    color: #fff;
}

h2 {
    text-align: center;
}

header{
    margin-top:;
    background-color: #111;
    color: #fff;
    padding: 0rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header{
    background-color: #111;
    color: #fff;
}
.header p{
    font-size: 20px;
}

.header img {
    width: 100%;
    height: ;
    border-radius: 0px;
    margin-top: 0;
}
.header h1{
    margin-top: 3rem;
}

.services-list {
    width: 100%;
    background-color: #111;
    color: #fff;
    margin: 0 auto;
    list-style: none;
    padding: 10px;
    font-size: 25px;
    font-weight: 500;
    line-height: ;
}

.services-list li {
    display: inline-flex;
    margin-right: 35px;
    flex-wrap: wrap;
    justify-content: ;
}

header button {
    background: rgb(254, 32, 32);
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 4px;
    margin-bottom: 2rem;

}

header button:hover {
    background-color: #fff;
    color: #111;
}

.products {
    background-color: #f22;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.products h2 {
    width: 100%;
}

.card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    width: auto;
    background-color: #fafafa;
}
.card img{
        height: 300px;
}
.card h3{
    font-size: 15px;
    Color: #000;
}
.about{
    background-color: #f22;
}

.about p {
    max-width: 700px;
    margin: auto;
    font-size: 1.1rem;
}

.why-choose {
    background-color: #f22;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}

.why-choose h2 {
    width: 100%;
}

.why-choose .item {
    width: 200px;
}

.why-choose img {
    height: 50px;
}

.testimonial {
    background-color: #333;
    color: #fff;
    font-style: italic;
    padding: 2rem;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem;


}
.item:hover, .card:hover  {
    opacity: 95%;
}

@media (max-width: 1500px){
    body{
        width: 100%;
    }
}
@media (max-width: 700px) {
    .header h1 {
padding: 10px;}


}